  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
                  <%= render "users/shared/error_messages", resource: resource %>
                  <p class="notice"> <%= notice %></p>
                  <p class="alert"> <%= alert %></p>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :name, id:"form3Example1c" %>
                      <%= f.text_field :name, autofocus: true, autocomplete: "name", id:"form3Example1c", class:"form-control" %>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :phone, id:"form3Example2c" %>
                      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", id:"form3Example2c", class:"form-control" %>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :email, id:"form3Example3c" %>
                      <%= f.text_field :email, autofocus: true, autocomplete: "email", id:"form3Example3c", class:"form-control" %>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :password, id:"form3Example4c" %>
                      <%= f.password_field :password, autocomplete: "new-password", id:"form3Example4c", class:"form-control" %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <%= f.label :password_confirmation ,id:"form3Example4c" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" ,id:"form3Example4c", class:"form-control" %>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>
                  <div class="d-flex mx-4 mb-3 mb-lg-4">
                      <%= f.submit "Sign up" , class:"btn btn-primary btn-lg" %>
                  </div>
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="#"class="fw-bold text-body"><u><%= render "users/shared/links" %></u></a></p>
                  </div>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>


