<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-12">
    <%= form.label :password, style: "display: block" %>
    <%= form.text_field :password %>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <%= form.submit class:"btn-btn-primary", style: "margin-top:20px " %>
  </div>
  
</div>
<% end %>
