<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">

  <table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
     <% @users.each do |user| %>
      <tr>
        <th scope="row">1</th>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to "Show", user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<button class="btn btn-light">
 <%= link_to "New user", new_user_path %>
</button>

