<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <button class="btn btn-secondary">
  <%= link_to "Back to users", users_path, style:"color:black; texdeconary:none" %>
  </button>
</div>
