<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <%= link_to "My Blog", root_path, class:'navbar-brand' %>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "vd#index", root_path, class:'nav-link active' %>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <% if user_signed_in? %>
          <%= button_to "Profile", :user_profile, method: :get, class:"btn btn btn-outline-secondary me-3", style:"text-decoration:none" %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-dark me-3", style:"text-decoration:none" %>
        <% else%>
          <%= button_to "LOGIN", new_user_session_path, method: :get, class:"btn btn-link px-3 me-2", style:"text-decoration:none" %>
          <%= button_to "Sign Up For Free", new_user_registration_path, method: :get, class:"btn btn-primary me-3", style:"text-decoration:none" %>
        <% end %>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->