<div id="<%= dom_id book %>">
  <p>
    <strong>Mahs 236:</strong>
    <%= book.mahs_236 %>
  </p>

  <p>
    <strong>Hoten 236:</strong>
    <%= book.hoten_236 %>
  </p>

  <p>
    <strong>Lop 236:</strong>
    <%= book.lop_236 %>
  </p>

  <p>
    <strong>Manganh 236:</strong>
    <%= book.manganh_236 %>
  </p>

  <p>
    <strong>Tensach 236:</strong>
    <%= book.tensach_236 %>
  </p>

  <p>
    <strong>Tentacgia 236:</strong>
    <%= book.tentacgia_236 %>
  </p>

  <p>
    <strong>Sobm 236:</strong>
    <%= book.soBM_236 %>
  </p>

  <p>
    <strong>Ngaymuon 236:</strong>
    <%= book.ngaymuon_236 %>
  </p>

  <p>
    <strong>Ngaytra 236:</strong>
    <%= book.ngaytra_236 %>
  </p>

  <p>
    <strong>Ghichu 236:</strong>
    <%= book.ghichu_236 %>
  </p>

</div>
