<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :mahs_236,  class:"form-label" %>
    <%= form.text_field :mahs_236 , class:"form-control" %>

  </div>

  <div>
    <%= form.label :hoten_236, style: "display: block", class:"form-label" %>
    <%= form.text_field :hoten_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :lop_236, style: "display: block" %>
    <%= form.text_field :lop_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :manganh_236, style: "display: block" %>
    <%= form.text_field :manganh_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :tensach_236, style: "display: block" %>
    <%= form.text_field :tensach_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :tentacgia_236, style: "display: block" %>
    <%= form.text_field :tentacgia_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :soBM_236, style: "display: block" %>
    <%= form.text_field :soBM_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :ngaymuon_236, style: "display: block" %>
    <%= form.date_field :ngaymuon_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :ngaytra_236, style: "display: block" %>
    <%= form.date_field :ngaytra_236 ,class:"form-control" %>
  </div>

  <div>
    <%= form.label :ghichu_236, style: "display: block" %>
    <%= form.text_area :ghichu_236 ,class:"form-control" %>
  </div>

  <div >
    <%= form.submit %>
  </div>

<% end %>
