<p style="color: green"><%= notice %></p>

<h1 class="text-center">Quản lý Mượn sách</h1>

<div id="books">

<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">Mã Sinh viên</th>
      <th scope="col">Họ tên</th>
      <th scope="col">Lớp</th>
      <th scope="col">Ngành</th>
      <th scope="col">Tên sách</th>
      <th scope="col">Tên tác giã</th>
      <th scope="col">Mã BH</th>
      <th scope="col">Ngày mượn</th>
      <th scope="col">Ngay Trả</th>
      <th scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
     <% @books.each do |book| %>
      <tr>
        <th scope="row">1</th>
        <td><%= book.mahs_236 %></td>
        <td><%= book.hoten_236 %></td>
        <td><%= book.lop_236 %></td>
        <td><%= book.manganh_236 %></td>
        <td><%= book.tensach_236 %></td>
        <td><%= book.tentacgia_236 %></td>
        <td><%= book.soBM_236 %></td>
        <td><%= book.ngaymuon_236 %></td>
        <td><%= book.ngaytra_236 %></td>
        <td><%= link_to "Show", book %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<%= link_to "New book", new_book_path %>
